:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  box-sizing: border-box;
  block-size: 100%;
}

body {
  inline-size: 360px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  min-block-size: 0;
}
